[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install --legacy-peer-deps --ignore-scripts"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx http-server ./build -p $PORT -a 0.0.0.0 --proxy http://localhost:$PORT?"
